@import url('https://fonts.googleapis.com/css?family=Raleway:900');

%container {
  background-color: #002c75;
  padding: 8px 100px;
  color: white;
  text-align: center;
  margin-bottom: 4px;
  border-radius: 4px;
}
.text {
  font-family: Raleway;
  font-size: 1.5em;
  font-weight: 900;
  margin:0;
}

// reveal
.revealContainer {
  @extend %container;
  height:44px;

  .revealRight  { overflow: hidden; animation: revealRight 2s ease-in-out alternate infinite; white-space: nowrap; }
  .revealDown   { overflow: hidden; animation: revealDown 2s ease-in-out alternate infinite; }


  @keyframes revealRight {
    from { max-width:0px; }
    to { max-width: 100%; }
  }
  @keyframes revealDown {
    from { max-height:0px;}
    to { max-height: 100%; }
  }
}

// slide
.slideContainer{
  @extend %container;
  overflow: hidden;

  .slideUp     { animation: slideUp 2s ease-in-out alternate infinite; }
  .slideRight  { animation: slideRight 2s ease-in-out alternate infinite; }
  .slideDown   { animation: slideDown 2s ease-in-out alternate infinite; }
  .slideLeft   { animation: slideLeft 2s ease-in-out alternate infinite; }

  @keyframes slideUp {
    from { opacity: 0; transform: translateY(100%); }
    to { opacity: 1; transform: translateY(0%); }
  }

  @keyframes slideRight {
    from { opacity: 0; transform: translateX(100%); }
    to { opacity: 1; transform: translateX(0%); }
  }

  @keyframes slideDown {
    from { opacity: 0; transform: translateY(-100%); }
    to { opacity: 1; transform: translateY(0%); }
  }

  @keyframes slideLeft {
    from { opacity: 0;transform: translateX(-100%); }
    to { opacity: 1; transform: translateX(0%); }
  }
}

// rotate
.rotateContainer {
  @extend %container;
  .rotateUp     { animation: rotateUp 2s ease-in-out alternate infinite;  }
  .rotateRight  { animation: rotateRight 2s ease-in-out alternate infinite;  }
  .rotateDown   { animation: rotateDown 2s ease-in-out alternate infinite;  }
  .rotateLeft   { animation: rotateLeft 2s ease-in-out alternate infinite; }

  @keyframes rotateUp    { from { transform: scaleY(0); } to { transform: scaleY(1); } }
  @keyframes rotateRight { from { transform: scaleX(1); } to { transform: scaleX(0); } }
  @keyframes rotateDown  { from { transform: scaleY(0); } to { transform: scaleY(1); } }
  @keyframes rotateLeft  { from { transform: scaleX(0); } to { transform: scaleX(1); } }
}