@import '../../../../styles/styles.scss';
@import '../../styles.scss';

.toggle
{
    all : revert;
    margin-right : $spacingXs;
}

.content
{
    cursor: pointer;

    padding : $spacingMd 0;

    font-weight: $fontWeightSemiBold;
}

.removeButton 
{
    @include text(22px, red, $fontWeightBold);

    cursor: pointer;
    margin-right: $spacingSm;
}