.container {
  position: relative;
  height : 380px;

  border: 1px solid #E5ECEF;
  border-radius: 8px;
  background-color: lightgray;
  overflow: hidden;

  padding-left: 12px;
  padding-right: 12px;

  display : flex;
  align-items: center;

  .subContainer {
    position: absolute;
    left : -649.6px;

    display : flex;
    gap : 14px;
    align-items: center;

  }
}
