.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap : 4px;

  .imageContainer {
    position: relative;
    overflow: hidden; // sans ça le gap ne fonctionne pas

    &:hover {
      .blur { filter: blur(2px); }
      .gray { filter: grayscale(0.8); }
      .zoom { transform: scale(1.1); }

      .fade { opacity: 1; }
      .slideUp, .slideRight, .slideDown, .slideLeft { transform: translateX(0); }
    }

    > .fade { opacity: 0; }
    > .slideUp { transform: translateY(100%);}
    > .slideRight { transform: translateX(100%);}
    > .slideDown { transform: translateY(-100%);}
    > .slideLeft { transform: translateX(-100%);}

    .image, .content { transition: 700ms ease-in-out; }
    .image { width: 100%; object-fit: cover; }

    .content {
      position: absolute;
      inset: 0;

      font-family : "Berlin Sans FB";
      font-size: 1.5rem;
      color:white;

      padding: 1.5rem;
      background: rgba(0, 0, 0, .4);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}