@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.input
{
  background-color: transparent;

  color : white;
  font-size: 16px;

  border: #777474 1px solid;
  border-radius: 8px;

  padding: 12px 20px;
}

.spacingMd { margin-top : 32px; }

.container { padding: 0 32px; }

.usernameContainer 
{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 32px 0px;
}

.title { font-size: 28px; color: white;}

.descriptionContainer
{
  background: rgb(27,32,52);
  background: linear-gradient(90deg, rgba(27,32,52,1) 64%, rgba(21,20,32,1) 100%);

  margin-top: 32px;

  padding: 18px 32px;
  margin: 0 -32px;
}

.descriptionTitle { color: #5B89D0; margin-bottom: 10px; }
.description { color: #536278; width: 480px }

.messageDate
{
  text-align: center;

  margin: 32px 0;
  font-weight: 100;
}

.messageDestinationInputContainer
{
  display: flex;
  gap : 8px;

  margin-bottom: 12px;
}
.messageDestinationInputContainer > input { flex-grow : 1; }

.imageButton
{
    cursor: pointer;

    width : 25px;
    height : 44px;

    display: flex;
    justify-content: center;
    align-items: center;
}