.container
{
    display : flex;
    margin : auto;
    flex-direction: column;
    width : 50%;
}

.messageTitle { font-weight: 700; }
.message { width : 100px; }
.messageFromUser { margin-left : 100px; }
.messageFromOtherUser { float : left; }

.messageToEverybody { color : white; }
.groupMessage { color : green; }
.privateMessage { color : red; }