.messageFromUser > .conversationContainer { flex-direction: row-reverse; }
.messageFromOtherUser .message { background-color: #222236;}
.messageFromUser .message { background-color: #6549F1; color: white;}

.messageTitle 
{ 
  text-align: center; 
  padding: 20px 0;
  font-size: 14px;
  color: rgb(40, 190, 40);
}

.conversationContainer { display: flex; gap: 12px; }

.profilImage
{
  background-image: url(Images/user.jpg);
  background-size: cover;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.message
{
  width: max-content;
  max-width: 340px;
    
  border-radius: 24px;
  
  padding: 7px 24px;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 32px;
}
.groupMessage { color : green; }
.privateMessage { color : red; }
.messageToEverybody { color : white; }