.container {
  height : 380px;
  border: 1px solid #E5ECEF;
  border-radius: 8px;
  display : flex;
  gap : 18px;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  overflow: hidden;
}