* {
  box-sizing: border-box;
}
body { margin : 0; }

.container {
  background: linear-gradient(to right, #6be585, #dd3e54); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 12px;
}

.buttonContainer {
  display : flex;
  gap: 12px;
  margin-bottom: 12px;
}