.buttonContainer {
  margin-bottom: 12px;
  display:flex;
  gap: 12px;
  cursor:pointer;
}

%loading-bar-no-border {
  width: 400px;
  height: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.loadingBarContainerWithoutBorder {
  @extend %loading-bar-no-border;

  .loadingBarContainer {
    border:black 2px solid;
    @extend %loading-bar-no-border;
  }

  .loadingBar {
    position: absolute;
    background: red;
    height:100%;
    transition : 1s ease;
  }

  .filledPercentageText {
    position: absolute;
    height:100%;
    width: 100%;
    text-align: center;
    line-height:26px;
  }
}