.square {
  width: 100px;
  height: 100px;
}

.red { background-color: red; }
.pink { background-color: pink; }

.gridWith2Elements {
  display : grid;
  grid-template-columns: repeat(2, 1fr);
  gap : 20px;
  padding : 20px;
}
